* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  svg:not(:root) {
    overflow: visible;
  }

  .container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F45F16;
  }

  
a {
  text-decoration: none;
}


/*설명*/
.btn-info{
  color: red;
  z-index: 2;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  position: fixed;
  top:40px;
  left:40px;
  font-family: 'arial', sans-serif;
  font-size: 2vw;
  line-height: 1.6;
  text-align: center;
  text-anchor: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background:skyblue;
}

.btn-info:hover {
  background: #99ff33;
  transition: all 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 4;
}

.popup {
  margin: 8vh auto;
  margin-left: 43px;
  padding: 28px;
  background: #ac00e6;
  border-radius: 2vw;
  width: 35vw;
  position: relative;
  transition: all 5s ease-in-out;
}

p#popup1 {
    word-break: keep-all;
    text-align: center;
}

.popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  transition: all 200ms;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: lightgreen;
}
.popup .close: hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  font-size: 15px;
  overflow: auto;
  color:white;
  text-align: left;
}

@media screen and (max-width: 15vw){
  .popup{
    width: 15vw;
  }
}
/*설명끝*/

.title{
  color: #FDE9E0;
  position: absolute;
  left: 50%;
  top:30vh;
  transform: translateX(-50%);
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'arial', sans-serif;
}

/*버튼*/
#btnDiv {
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn {
    display: inline-block;
    position: relative;
    border-radius: 7%;
    width: 280px;
    height: 75px;
    margin: 2vw;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'arial', sans-serif;
    background-color: #ffbe32;
/*    -moz-box-shadow:    inset 0 0 20px rgba(106,111,204,1);
    -webkit-box-shadow: inset 0 0 20px rgba(106,111,204,1);
    box-shadow:         inset 0 0 20px rgba(106,111,204,1);*/
}


.text-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#greenBtn {
color: #4141EC;
}
/*#greenBtn:hover {
  background: #4a825b;
  transition: all 2s ease;
  border-radius:20%;
}
#greenBtn:active {
  background: #386144;
}
*/
#grayBtn {
  color: green;
}
/*#grayBtn:hover {
  background-color: #657981;
  transition: all 2s ease;
  border-radius:20%;
}
#grayBtn:active {
  background: #435056;
}*/

#yellowBtn {
  color: #5E2F03;
/*    -moz-box-shadow:    inset 0 0 20px rgba(106,111,204,1);
    -webkit-box-shadow: inset 0 0 20px rgba(106,111,204,1);
    box-shadow:         inset 0 0 20px rgba(106,111,204,1);*/
}
/*#yellowBtn:hover {
  background:  #9e86aa;
  transition: all 2s ease;
  border-radius:20%;
}
#yellowBtn:active {
  background:  #795f86;
}
*/
#redBtn{
  color: red;
}
/*#redBtn:hover {
  background: #df2e1b;
  transition: all 2s ease;
  border-radius:20%;
}
#redBtn:active {
  background: #921e12;
}
*/
