 * {
    margin: 0;
    padding: 0;
  }

  svg:not(:root) {
    overflow: visible;
  }
  
  .container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .imagebox {
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    width: 30vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }


  .handle{
    position: fixed;
    top:35.1vw;
    left: 50%;
    transform: translateX(-50%);
    width: 6vw;
    height: 6vw;
    margin-left: -3vw;
    background-color: gray;
    border-radius: 50%;
    border: 1.5px solid;
    transform: rotate( 0deg );
    transition: all 0.4s;
    }

  .babyhandle{
    position: relative;
    width: 113%;
    height: 1vw;
    border-radius: 30%;
    top: 50%;
    left: -7%;
    transform: translateY(-50%);
    background-color: gray;
    border: 1.5px solid;
    }

    .movingballs{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

     .ball1{
        position: relative;
        top:44.8%;
        left: 39%;
        width:5vw;
        height:5vw;
        background-color: red;
        border-radius: 50%;
        border: 1px solid;
        border-color: white;
        animation-name: move1; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball2{
        position: relative;
        top: 28%;
        left: 47%;
        width:5vw;
        height:5vw;
        background-color: lightgreen;
        border-radius: 50%;
        border: 1px solid;
        border-color: white;
        animation-name: move2; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball3{
        position: relative;
        top: 30.4%;
        left: 43%;
        width:5vw;
        height:5vw;
        background-color:yellow;
        border-radius: 50%;
        border: 1px solid;
        border-color: white;
        animation-name: move3; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball4{
        position: relative;
        top: 23%;
        left: 51.5%;
        width:5vw;
        height:5vw;
        background-color:purple;
        border-radius: 50%;
        border: 1px solid;
        border-color: white;
        animation-name: move4; 
        animation-duration: 0.8s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball5{
        position: relative;
        top: 7%;
        left: 45%;
        width: 5vw;
        height: 5vw;
        background-color:lightpink;
        border-radius: 50%;
        border: 1px solid;
        border-color: white;
        animation-name: move5; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball6{
        position: relative;
        top: 1.7%;
        left: 56.8%;
        width:5vw;
        height:5vw;
        background-color: lightblue;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move6; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }  

      .ball7{
        position: relative;
        top: -5.22%;
        left: 55.5%;
        width:5vw;
        height:5vw;
        background-color:salmon;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move7; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball8{
        position: relative;
        top: -19.8%;
        left: 41%;
        width:5vw;
        height:5vw;
        background-color:green;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move8; 
        animation-duration: 1.4s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball9{
        position: relative;
        top: -28.16%;
        left: 49%;
        width:5vw;
        height:5vw;
        background-color:#FF6619;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move9; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }  

      .ball10{
        position: relative;
        top: -37.55%;
        left: 53%;
        width:5vw;
        height:5vw;
        background-color:lightblue;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move10; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }  

      .ball11{
        position: relative;
        top: -47.8%;
        left: 58.8%;
        width:5vw;
        height:5vw;
        background-color:yellow;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move11; 
        animation-duration: 1.2s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }  

      .ball12{
        position: relative;
        top: -56.3%;
        left: 36.2%;
        width:5vw;
        height:5vw;
        background-color:purple;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move12; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball13{  
        position: relative;
        top: -56.3%;
        left: 47%;
        width:5vw;
        height:5vw;
        background-color:blue;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move13; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .finball{
        position: relative;
        z-index: 1000;
        top: -31%;
        left: 50%;
        width:5vw;
        height:5vw;
        transform: translate(-50%, -50%);
        background-color:lightgreen;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: final; 
        animation-duration: 2s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 2.5s;
        opacity: 0;
        }

      @keyframes move1{
      0%{
        top:44.8%;
        left: 39%;
        width:5vw;
        height:5vw;
        background-color: red;
        }
      55%{
        top: 41.5%;
        left: 37.5%;
        width:5vw;
        height:5vw;
        }
      100%{
        top: 38%;
        left: 36.1%;
        width:5vw;
        height:5vw;
        }
      } 

      @keyframes move2{
      0%{
        top: 28%;
        left: 47%;
        width:5vw;
        height:5vw;
        background-color: lightgreen;
        }
      50%{
        width:5vw;
        height:5vw;
        top: 34.1%;
        left: 45%;
        }
      100%{
        width:5vw;
        height:5vw;
        top: 41%;
        left: 47%;
        }
      } 

      @keyframes move3{
      0%{
        top: 30.4%;
        left: 43%;
        width:5vw;
        height:5vw;
        background-color:yellow;
        }
      50%{
        top: 29%;
        left: 42%;
        }
      100%{
        top: 23.4%;
        left: 41.1%;
        width:5vw;
        height:5vw;
        }
      } 

      @keyframes move4{
      0%{
        top: 23%;
        left: 51.5%;
        width:5vw;
        height:5vw;
        background-color:purple;
        }
      30%{
        top: 7%;
        left: 55%;
        width:5vw;
        height:5vw;
        }
      60%{
        top: 3.5%;
        left: 53%;
        width:5vw;
        height:5vw;
        }
      100%{
        top: 15.7%;
        left: 45%;
        width:5vw;
        height:5vw;
        }
      } 

      @keyframes move5{
      0%{
        top: 7%;
        left: 45%;
        width: 5vw;
        height: 5vw;
        background-color:lightpink;
        }
      40%{
        top: -10.45%;
        left: 51%;
        width:5vw;
        height:5vw;
        }
      70%{
        top: -3.5%;
        left: 55%;
        width:5vw;
        height:5vw;
        }
      100%{
        top: 3.5vw;
        left: 58%;
        width:5vw;
        height:5vw;
        }
      } 

      @keyframes move6{
      0%{
        top: 1.7%;
        left: 56.8%;
        width:5vw;
        height:5vw;
        background-color:lightblue;
        }

      50%{
        top: 2.55%;
        left: 57.3%;
        }

      100%{
        top: 5.44%;
        left: 55.5%;
        }
      }   

      @keyframes move7{
      0%{
        top: -5.22%;
        left: 55.5%;
        width:5vw;
        height:5vw;
        background-color:salmon;
        }
      50%{
        top: -1.7%;
        left: 42%;
        }
      100%{
        top: -7.5%;
        left: 37.6%;
        }
      }  

      @keyframes move8{
      0%{
        top: -19.8%;
        left: 41%;
        width:5vw;
        height:5vw;
        background-color:green;
        }
      50%{
        top: -30.7%;
        left: 38%;
        }
      60%{
        top: -40.9%;
        left: 41%;
        }
      80%{
        top: -29%;
        left: 43%;
        }      
      100%{
        top: -12%;
        left: 40.4%;
        width:5vw;
        height:5vw;
        }
      } 
 
      @keyframes move9{
      0%{
        top: -28.16%;
        left: 49%;
        width:5vw;
        height:5vw;
        background-color:#FF6619; //오렌지
        }
      50%{
        top:-28.5%;
        left: 51%;
        }
      100%{
        top: -29%;
        left: 53%;
        }
      }

      @keyframes move10{
      0%{
        top: -37.55%;
        left: 53%;
        width:5vw;
        height:5vw;
        background-color:lightblue;
        }
      50%{
        top: -36.7%;
        left: 51%;
        }
      100%{
        top: -35.8%;
        left: 49%;
        }
      }
      @keyframes move11{
      0%{
        top: -47.8%;
        left: 58.8%;
        width:5vw;
        height:5vw;
        background-color:yellow;
        }
      40%{
        top:-68.2%;
        left: 54%;
        }
      80%{
        top:-49.5%;
        left: 41%;
        }
      100%{
        top: -39.1%;
        left: 44%;
        }
      }
      @keyframes move12{
      0%{
        top: -56.3%;
        left: 36.2%;
        width:5vw;
        height:5vw;
        background-color:purple;
        }
      40%{
        top: -85.3%;
        left: 46%;
        }
      75%{
        top: -66.5%;
        left: 59%;
        }
      100%{
        top: -48.6%;
        left: 55.5%;
        }
      }       
       
      @keyframes move13{
      0%{
        top: -56.3%;
        left: 47%;
        width:5vw;
        height:5vw;
        background-color:blue;
        }
      50%{
        top: -53%;
        left: 49%;
        }
      100%{
        top: -57.1%;
        left: 51%;
        }
      } 

       
    @keyframes final{     

      0%{
        width:5vw;
        height:5vw;
        top: -31%;
        left: 50%;
        opacity: 1;
        }
      10%{
        width:5vw;
        height:5vw;
        top: -29%;
        left: 50%;
        }
      20%{
        width:5vw;
        height:5vw;
        top: -42.6%;
        left: 60%;
        }
      45%{
        width:5vw;
        height:5vw;
        top: -23.2%;
        left: 73%;
        }
      65%{
        width:5vw;
        height:5vw;
        top: -51.2%;
        left: 85%;
        }
      77%{
        width:5vw;
        height:5vw;
        top: -23.2%;
        left: 93%;
        }

      92%{
        width:5vw;
        height:5vw;
        top: -23.2%;
        left: 93.5%;
        }

      93%{
        width:5vw;
        height:5vw;
        top: -23.2%;
        left: 92.5%;
        }

      94%{
        width:5vw;
        height:5vw;
        top: -23.2%;
        left: 93.5%;
        }

      95%{
        width:5vw;
        height:5vw;
        top: -23.2%;
        left: 92.5%;
        }

      96%{
        width:5vw;
        height:5vw;
        top: -23.2%;
        left: 93.5%;
        }

      97%{
        width:5vw;
        height:5vw;
        top: -23.2%;
        left: 92.5%;
        }

      98%{
        width:5vw;
        height:5vw;
        top: -23.2%;
        left: 93.5%;
        }

      99%{
        width:5vw;
        height:5vw;
        top: -23.2%;
        left: 92.5%;
        }

      100%{
        width:5vw;
        height:5vw;
        top: -23.2%;
        left: 93%;
        opacity: 1;
        }
        }


@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");

body{ 
  margin: 0;
  min-height: 100vh;
  position: relative;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}

body *{box-sizing: border-box;}

/*.content{
  height: 100vh;
  z-index: 1;
}*/

/* popup styles */
.wrapper{
  height: 100vh;
  width: 100%;
  position: absolute; /* does not take document space */
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.65;
}

.popup{
  position: relative;
  width: 18em;
  background-color: lightyellow;
  padding: 30px;
  border-radius: 1.5vw;
}
    .linktomain:link{
    text-decoration: none;
    color: red;
    }
    .linktomain:visited{
    text-decoration: none;
    color: red;
    }
.popup .close{
  position: absolute;
  font-size: 1.5em;
  top: 0.3em;
  right: 0.6em;
  color: red;
  cursor: pointer;
}

.popup .close: hover {
  color: lightgreen;
}
/* CSS Animation */
.popup{
  top: calc( 12em / 2 - 49vh - 12em); /* placing exactly above the view port 12em - height of popup*/
  transition: top 0.5s ;
  transition-timing-function: cubic-bezier(0.18, 0.15, 0.31, 1.87);
}
.drop{
  top: 0;
}
      }
