/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");

/*설명*/
.btn-info{
  color: red;
  z-index: 2;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  position: fixed;
  top:20px;
  left: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2vw;
  text-align: center;
  text-anchor: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background:skyblue;
}

.btn-info:hover {
  background: #99ff33;
  transition: all 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 4;
}

.popup {
  margin: 70px auto;
  margin-left: 20px;
  padding:28px;
  background: #ac00e6;
  border-radius: 2vw;
  width: 20%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  transition: all 200ms;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: lightgreen;
}
.popup .close: hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  font-size: 15px;
  overflow: auto;
  color:white;
  text-align: left;
}

@media screen and (max-width: 15vw){
  .popup{
    width: 15vw;
  }
}
/*설명끝*/

/*버튼*/
#btnDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn{
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px;
/*    padding: 20px,20px;*/
  float: left;
  text-align: center;
  color: white;
  font-size: 2vw;
}
#greenBtn {
  background-color: #ffbe32;
}
#greenBtn:hover {
  background: #4a825b;
  transition: all 0.3s ease;
}
#greenBtn:active {
  background: #386144;
}

#grayBtn {
  background: #ffbe32;
}
#grayBtn :hover {
  background-color: #657981;
  transition: all 0.3s ease;
}
#grayBtn :active {
  background: #435056;
}

#yellowBtn {
  background: #ffbe32;
}
#yellowBtn:hover {
  background:  #9e86aa;
  transition: all 0.3s ease;
}
#yellowBtn:active {
  background:  #795f86;
}

#redBtn{
  background: #ffbe32;
}
#redBtn:hover {
  background: #df2e1b;
  transition: all 0.3s ease;
}
#redBtn:active {
  background: #921e12;
}

/*버튼 끝*/
