 * {
    margin: 0;
    padding: 0;
  }

  svg:not(:root) {
    overflow: visible;
  }

  @media screen and (min-width: 768px){
    .container{
      width: 100%;
      height: 100%;
    }
  }
  
  .container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
/*    background-image: radial-gradient(closest-side at 50% 50%, white 65%, lightpink, navy);*/
  background-image: radial-gradient(white 62%, #B00CB0 10%); 마젠타
   /* background-image: radial-gradient(circle, red, yellow, green);*/
    /*background-image: repeating-radial-gradient(red, yellow 10%, green 15%);*/
  }

  .imagebox {
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }


  .handle{
    position: fixed;
    top: 575px;
    left: 50%;
    transform: translateX(-50%);
    width: 10vw;
    height: 10vw;
    margin-left: -5vw;
    background-color: gray;
    border-radius: 50%;
    border: 1.5px solid;
    transform: rotate( 0deg );
    transition: all 0.4s;
    }

  .babyhandle{
    position: relative;
    width: 116%;
    height: 2vw;
    border-radius: 30%;
    top: 50%;
    left: -7%;
    transform: translateY(-50%);
    background-color: gray;
    border: 1.5px solid;
    }


    .movingballs{
/*        position: absolute;*/
        width: 100%;
        height: 10%;
        top: 0;
        left: 0;
    }

     .ball1{
        position: absolute;
        top: 48vh;
        left: 32vw;
        width:6vh;
        height:6vh;
        background-color: red;
        border-radius: 50%;
        border: 1px solid;
        border-color: white;
        animation-name: move1; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball2{
        position: absolute;
        top: 40vh;
        left: 48vw;
        width:6vh;
        height:6vh;
        background-color: lightgreen;
        border-radius: 50%;
        border: 1px solid;
        border-color: white;
        animation-name: move2; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball3{
        position: absolute;
        top: 48vh;
        left: 38vw;
        width:6vh;
        height:6vh;
        background-color:yellow;
        border-radius: 50%;
        border: 1px solid;
        border-color: white;
        animation-name: move3; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball4{
        position: absolute;
        top: 50vh;
        left: 53vw;
        width:6vh;
        height:6vh;
        background-color:purple;
        border-radius: 50%;
        border: 1px solid;
        border-color: white;
        animation-name: move4; 
        animation-duration: 0.8s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball5{
        position: absolute;
        top: 44.5vh;
        left: 43vw;
        width:6vh;
        height:6vh;
        background-color:lightpink;
        border-radius: 50%;
        border: 1px solid;
        border-color: white;
        animation-name: move5; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball6{
        position: absolute;
        top: 42.5vh;
        left: 59vw;
        width:6vh;
        height:6vh;
        background-color: lightblue;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move6; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }  

      .ball7{
        position: absolute;
        top: 49vh;
        left: 59.8vw;
        width:6vh;
        height:6vh;
        background-color:salmon;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move7; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball8{
        position: absolute;
        top: 44vh;
        left: 35vw;
        width:6vh;
        height:6vh;
        background-color:green;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move8; 
        animation-duration: 1.4s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball9{
        position: absolute;
        top: 45vh;
        left: 49.3vw;
        width:6vh;
        height:6vh;
        background-color:#FF6619;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move9; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }  

      .ball10{
        position: absolute;
        top: 44.8vh;
        left: 56vw;
        width:6vh;
        height:6vh;
        background-color:lightblue;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move10; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }  

      .ball11{
        position: absolute;
        top: 44vh;
        left: 64vw;
        width:6vh;
        height:6vh;
        background-color:yellow;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move11; 
        animation-duration: 1.2s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }  

      .ball12{
        position: absolute;
        top:45vh;
        left: 29vw;
        width:6vh;
        height:6vh;
        background-color:purple;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move12; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .ball13{  
        position: absolute;
        top: 50vh;
        left: 45vw;
        width:6vh;
        height:6vh;
        background-color:blue;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: move13; 
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 1s;
        }

      .finball{
        position: absolute;
        z-index: 1000;
        top: 77vh;
        left: 50vw;
        width:6vh;
        height:6vh;
        transform: translate(-50%, -50%);
        background-color:lightgreen;
        border-radius: 50%;
        border: 1px solid;
        border-color: #fff;
        animation-name: final; 
        animation-duration: 2s; 
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-play-state: running;
        animation-delay: 2.5s;
        opacity: 0;
        }


      @keyframes move1{
      0%{
        top: 48vh;
        left: 33vw;
        background-color: red;
        }
      50%{
        top: 46vh;
        left: 31vw;
        }
      100%{
        top: 43vh;
        left: 29.3vw;
        }
      } 

      @keyframes move2{
      0%{
        top: 40vh;
        left: 47vw;
        background-color: lightgreen;
        }
      50%{
        top: 43vh;
        left: 45vw;
        }
      100%{
        top: 48.4vh;
        left: 49vw;
        }
      } 

      @keyframes move3{
      0%{
        top: 48vh;
        left: 38vw;
        background-color:yellow;
        }
      50%{
        top: 46vh;
        left: 37vw;
        }
      100%{
        top: 45vh;
        left: 36vw;
        }
      } 

      @keyframes move4{
      0%{
        top: 49vh;
        left: 53vw;
        background-color:purple;
        }
      50%{
        top: 32vh;
        left: 60vw;
        }
      65%{
        top: 32vh;
        left: 57vw;
        }
      100%{
        top: 45vh;
        left: 43vw;
        }
      } 

      @keyframes move5{
      0%{
        top: 44.5vh;
        left: 43vw;
        background-color:lightpink;
        }
      40%{
        top: 38vh;
        left: 51vw;
        }
      70%{
        top: 32vh;
        left: 55vw;
        }
      100%{
        top: 44vh;
        left: 63vw;
        }
      } 

      @keyframes move6{
      0%{
        top: 42.5vh;
        left: 59vw;
        background-color:lightblue; /*오른쪽에서 왼쪽으로 움직이는애*/
        }
      30%{
        top: 47vh;
        left: 60vw;
        }
      100%{
        top: 48.3vh;
        left: 58.7vw;
        }
      }   

      @keyframes move7{
      0%{
        top: 49vh;
        left: 59.8vw;
        background-color:salmon;
        }
      30%{
        top: 51vh;
        left: 40vw;
        }
      50%{
        top: 49vh;
        left: 40vw;
        }
      100%{
        top: 48vh;
        left: 32.6vw;
      }
    }

      @keyframes move8{
      0%{
        top: 44vh;
        left: 35vw;
        background-color:green;
        }
      50%{
        top: 30vh;
        left: 38vw;
        }
      70%{
        top: 40.9vh;
        left: 41vw;
        }     
      100%{
        top: 49vh;
        left: 39vw;
        }
      } 
 
      @keyframes move9{
      0%{
        top: 45vh;
        left: 49.3vw;
        background-color:#FF6619; //오렌지
        }
      50%{
        top: 45vh;
        left: 51vw;
        }
      100%{
        top: 43vh;
        left: 56vw;
        }
      }

      @keyframes move10{
      0%{
        top: 44.8vh;
        left: 56vw;
        background-color:lightblue;
        }
      50%{
        top: 42.4vh;
        left: 54vw;
        }
      100%{
        top: 43vh;
        left: 50vw;
        }
      }

      @keyframes move11{
      0%{        
        top: 44vh;
        left: 64vw;
        background-color:yellow;
        }
      40%{
        top:30vh;
        left:54vw;
        }
      80%{
        top:40vh;
        left:41vw;
        }
      100%{
        top:49vh;
        left:44vw;
        }
      }
      @keyframes move12{
      0%{
        top:45vh;
        left: 29vw;
        background-color:purple;
        }
      40%{
        top: 30vh;
        left: 46vw;
        }
      75%{
        top: 40vh;
        left: 59vw;
        }
      100%{
        top: 46vh;
        left: 53vw;
        }
      }       
       
      @keyframes move13{
      0%{
        top: 50vh;
        left: 45vw;
        background-color:blue;
        }
      50%{
        top: 53vh;
        left: 49vw;
        }
      100%{
        top: 50vh;
        left: 54vw;
        }
      } 

       
    @keyframes final{     

      0%{
        top: 77vh;
        left: 50vw;
        opacity: 1;
        }

      20%{
        top: 83vh;
        left: 60vw;
        }

      40%{
        top: 55vh;
        left: 70vw;
        }
      60%{
        top: 83vh;
        left: 78vw;
        }
      75%{
        top: 63vh;
        left: 86vw;
        }

      92%{
        top: 83vh;
        left: 87vw;
        }

      93%{
        top: 83vh;
        left: 88vw;
        }

      94%{
        top: 83vh;
        left: 87vw;
        }

      95%{
        top: 83vh;
        left: 88vw;
        }

      96%{
        top: 83vh;
        left: 87vw;
        }

      97%{
        top: 83vh;
        left: 88vw;
        }

      98%{
        top: 83vh;
        left: 87vw;
        }

      99%{
        top: 83vh;
        left: 88vw;
        }

      100%{
        top: 83vh;
        left: 87.5vw;
        opacity: 1;
        }
        }

body{ 
  margin: 0;
  min-height: 100vh;
  position: relative;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
}

body *{box-sizing: border-box;}

/*.content{
  height: 100vh;
  z-index: 1;
}*/

/* popup styles */
.wrapper{
  height: 100%;
  width: 960vh;
  position: absolute; /* does not take document space */
  top: 0;
  left:50%;
  transform: translateX(-50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 35px;
}

p#ment {
    word-break: keep-all;
    text-align: center;
}

.popup{
  position: relative;
  width: 40vw;
  background-color: lightyellow;
  padding: 36px;
  border-radius: 1.5vw;
  -webkit-box-shadow: 10px 10px 100px 0px rgba(56,56,88,1);
  -moz-box-shadow: 10px 10px 100px 0px rgba(56,56,88,1);
  box-shadow: 10px 10px 100px 0px rgba(56,56,88,1);
}
    .linktomain:link{
    text-decoration: none;
    color: red;
    }
    .linktomain:visited{
    text-decoration: none;
    color: red;
    }
.popup .close{
  position: absolute;
  font-size: 1.5em;
  top: 4px;
  right: 15px;
  color: red;
  cursor: pointer;
}

.popup .close: hover {
  color: lightgreen;
}
/* CSS Animation */
.popup{
  top: calc( 100% / 2 - 50% - 100% ); /* placing exactly above the view port 12em - height of popup*/
  transition: top 0.5s ;
  transition-timing-function: cubic-bezier(0.18, 0.15, 0.31, 1.87);
}
.drop{
  top: 0;
}
      }
